.box
{
	margin:auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 63vw;;
	background: none
}
div
{
	background: peru;
	border-radius: 1.5vw;
	margin: 0.5vw;
	width: 20vw;
	height: 20vw;
	float: left;
}
